venv/
__pycache__/
*.pyc
*.pyo
.env
.flaskenv
instance/
migrations/
static/assets/
*.egg-info/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.egg
local_settings.py
db.sqlite3
db.sqlite3-journal
__pycache__/


